@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-indigo-500 text-white font-poppins py-1.5 px-5 rounded shadow-md hover:bg-indigo-600 duration-150 transition ease-out;
}

.btn-secondary {
  @apply bg-white text-indigo-500 font-poppins py-1.5 px-5 rounded shadow-md hover:shadow-lg hover:bg-gray-50 border border-indigo-500 hover:border-indigo-600 duration-150 transition ease-out;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
